.background {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  color: #fff;
}

.background__header {
  font-size: 25px;
  margin: 2vh auto 2vh auto;
}

.background__text {
  font-size: 17px;
  margin: 1vh auto;
}

.background__text-alt {
  margin: .5vh auto;
}

.background__form {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.background__form-label {
  font-size: 30px;
}